s {
    opacity: 0.5;
}

.destinationName,
.expectedTime {
    font-size: 1.2em;
}

.platform {
    font-size: 1.5em;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 2px 4px;
}

.remarks {
    opacity: 0.7;
    margin-left: 2.7em;
}

.lineId {
    font-size: 1em;
    margin-right: .4em;
    padding: .1em .3em;
    background-color: #000;
    border: .1em solid #000;
}

.R11 {
    background-color: #a0001e;
    border-color: #a0001e;
    color: #fff;
}

.R11x {
    background-color: #a0001e;
    border-color: #000;
    color: #fff;}

.L12 {
    background-color: #dc0000;
    border-color: #dc0000;
    color: #fff;
}

.L13 {
    background-color: #f0871e;
    border-color: #f0871e;
    color: #000;
}
